body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: hsl(0, 0%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm{
    margin-top: 30px;
    margin-bottom: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.30);
    outline: none;
}
button[type="submit"]{
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: hsl(120, 100%, 25%);
}
button[type="submit"]:hover{
    background-color: hsl(120, 100%, 15%);
}
.card{    
    background: linear-gradient(180deg, hsl(188, 100%, 40%), hsl(39, 97%, 60%));
    padding: 10px 50px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.cityDisplay, .tempDisplay{
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
}
.cityDisplay{
    margin-bottom: 10px;
}
.humidityDisplay{
    font-size: 1.5rem;
}
.descDisplay{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}
.weatherEmoji{
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: 0;
}
.errorDisplay{
    font-size: 2.4rem;
    margin-top: 10px;
    margin-bottom: 20px;
}